<body>
    <h1><b>Welcome {{user.name}}</b> </h1>
    <br>
    <h2><b>Thank you for signing up for TRT TV. </b></h2>
    <p>your password is {{password}}</p>
    <p>TRT TV is the first and biggest multifunctional webstreaming platform
in the equine world. After activating your account you will have access
to our collection of over 100 educational, amusing and inspiring videos
about our special approach to educating young horses.</p>
<br>
<p>For any questions you can visit our help center.</p>
</body>