
$blue: #009fe3;
$darkblue: #0380bb;

html, body{
  font-size: 100%;
  margin: 0;
  padding: 0;
  font-weight: normal;
  background: #000;
  color: #fff;
  font-family: 'Open Sans', sans-serif;
  position: relative;
  opacity: 1;
}


ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
}

p{
  font-weight: 300;
  line-height: 30px;
}

.fwn{
  font-weight: 300;
}

.tac{
  text-align: center;
}

.right{
  float: right;
}

.left{
  float: left;
}

#progress-bar{
  background: orange;
  height: 5px;
  position: fixed;
  left: 0;
  top: 0;
  -webkit-transition: width 0.3s ease-in-out;
  -moz-transition: width 0.3s ease-in-out;
  -o-transition: width 0.3s ease-in-out;
  transition: width 0.3s ease-in-out;
  z-index: 999999;
}

.upper{
  text-transform: uppercase !important;
}

.lower{
  text-transform: lowercase !important;
}

input[type='text'], input[type='email'], input[type='password'], input[type='number'], input[type='date']{
    background: #f6f6f6;
    height: 50px;
    line-height: 50px;
    border: 1px solid #dddddd;
    display: block;
    width: 100%;
    margin: 10px 0;
    box-sizing:border-box;
    padding: 0;
    padding-left: 10px;
}

input[type='file']{
  margin: 10px 5px;
}

.inline-form{
  input[type='text'], input[type='email'], input[type='password'], input[type='number'], input[type='date']{
    max-width: 250px;
    display: inline-block;
    height: 55px;
  }
  button, .button{
    display: inline-block;
    border: 0;
  }
}

textarea{
  background: #f6f6f6;
  border: 1px solid #dddddd;
  box-shadow: 0;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 10px;
  outline: none;
  padding: 10px;
}

select{
  border: 1px solid lightgray;
  height: 50px;
  border-radius: 0;
  width: 100%;
  outline: none;
  background: #fff;
  background-image: url(http://res.cloudinary.com/trt-tv/image/upload/v1512335361/icn_arrow_sml_down_ldyjfm.svg);
  background-repeat: no-repeat;
  background-position: 94% 50%;
  background-size: 12px 12px;
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 10px;
  margin-bottom: 10px;
  min-width: 250px;
}

button{
    font-size: 16px;
    display: block;
    margin: 0;
    padding: 0;
    &:disabled {
      background-color:gray;
      opacity: 0.5;
    }
}

.ext{
  button{
    width: 100% !important;
  }
}

.nm{
    margin: 0;
}

.iconfix{
  position: relative;
  top: 2px;
}

a, button {
  color: #009fe3;
  text-decoration: none;
  &.button{
    position: relative;
    background-color:$blue;
    color: white;
    height: 55px;
    display: inline-block;
    line-height: 55px;
    padding: 0 30px 0 50px;
    box-shadow: 0;
    border-radius: 0;
    border: 1px solid $blue;
    &.expand{
        width: 100%;
    }
    &:disabled {
      background-color:black;
      opacity: 0.6;
      border: 1px solid black;
    }
    &:before{
      content:'';
      position: absolute;
      display: block;
      height: 50px;
      width: 50px;
      top: 3px;
      left: 0;
      background-color: #fff;
      -webkit-mask-image: url(./assets/arrow_right.svg);
      mask-image: url(./assets/arrow_right.svg);
      mask-size: 50px;
      -webkit-mask-size: 50px;
      -webkit-mask-repeat: no-repeat;
      -webkit-mask-position: left center;
      mask-position: left center;
    }
    &.multiply{
      background:#0380bb;
    }
    &:hover{
      background:#0380bb;
      border: 1px solid #0380bb;
    }
    &.transparent{
      background:none;
      color:$blue;
      &:before{
        background-color:$blue;
      }
      &:hover{
        color:#fff;
        border: 1px solid #fff;
        &:before{
          background-color:#fff;
        }
      }
    }
  }
}

.inspireBanner{
  padding-top: 150px;
  padding-bottom: 100px;
  background: url(./assets/horsedegrade.jpg) center center no-repeat;
  background-size: contain;
  width: 100%;
  text-align: center;
  h1,h2{
      font-weight: 300;
  }
}


.serie{
  border: 1px solid #555555;
  text-align: center;
  position: relative;
  min-height: 700px;
  margin: 20px 0;
  background-image: url(./assets/Worldofdressage.jpg);
  -webkit-box-shadow: inset 0px -80px 400px 100px rgba(0,0,0,1);
  -moz-box-shadow: inset 0px -80px 400px 100px rgba(0,0,0,1);
  box-shadow: inset 0px -80px 400px 100px rgba(0,0,0,1);
  background-repeat: no-repeat;
  background-size: cover;
  a {
    color: white;
  }
  &.admin{
    min-height: 300px;
    width: 32%;
    text-align: center;
    display: inline-block;
    margin: 5px;
    -webkit-box-shadow: inset 0px -8px 200px 50px rgba(0,0,0,1);
    -moz-box-shadow: inset 0px -8px 200px 50px rgba(0,0,0,1);
    box-shadow: inset 0px -8px 200px 50px rgba(0,0,0,1);
    h3{
      opacity: 0.7;
    }
  }
  .text_Serie{
    position: absolute;
    bottom: 50px;
    width: 100%;
    margin: 0 auto;
  }
  .fixw{
    margin: 0 auto;
    width: 70%;
    text-align: center;
  }
  h1{
    font-weight: 300;
    text-transform: uppercase;
  }
  h2{
    font-weight: 300;
    text-transform: uppercase;
    font-size: 25px;
  }
  h3{
    opacity: 0.4;
    text-transform: uppercase;
  }
 }

.center-form{
  max-width: 480px;
  margin: 15px auto;
}
.edit{
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  width: 40px;
  height: 40px;
  padding: 10px;
  color: #fff;
}

.feature{
  display: block;
  position: absolute;
  right: 50px;
  top: 0;
  width: 40px;
  height: 40px;
  padding: 10px;
  color: #fff;
  &.selected{
    color: gold;
  }
}

.aboutHome{
  .theimg{
    width:40%;
    display: inline-block;
    text-align: center;
  }
  .text{
    width: 50%;
    display: inline-block;
    vertical-align: top;
    margin-top: 100px;
    h1{
      font-weight: 300;
    }
  }
}

.slideBanner{
  width: 100%;
  height: auto;
  max-height:205px;
  overflow: hidden;
  position: relative;
  #leftgone, #rightgone{
    display: inline-block;
    height: 205px;
    width: 70px;
    position: absolute;
    top: 0;
    left: 0;
    background: -moz-linear-gradient(left, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, rgba(0,0,0,1) 0%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, rgba(0,0,0,1) 0%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#00ffffff',GradientType=1 ); /* IE6-9 */
    z-index: 9;
    &:hover{
      span{
        background-color: white;
      }
    }
    span{
      display: inline-block;
      width: 50px;
      height: 205px;
      margin: 0 auto;
      text-align: center;
      background-color: $blue;
      -webkit-mask-image: url(./assets/arrow_left.svg);
      mask-image: url(./assets/arrow_left.svg);
      mask-size: 50px;
      -webkit-mask-size: 50px;
      -webkit-mask-repeat: no-repeat;
      -webkit-mask-position: center center;
      mask-position: center center;
    }
  }
  #rightgone{
    top: 0;
    right: 0;
    left: auto;
    background: -moz-linear-gradient(left, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#000000',GradientType=1 ); /* IE6-9 */
    span{
      float: right;
      -webkit-mask-image: url(./assets/arrow_right.svg);
      mask-image: url(./assets/arrow_right.svg);
      mask-size: 50px;
      -webkit-mask-size: 50px;
      -webkit-mask-repeat: no-repeat;
      -webkit-mask-position: center center;
      mask-position: center center;
    }
  }
}

.episodes{
  max-width: 950px;
  margin: 0 auto;
  .episode_box{
    position: relative;
    margin-bottom: 10px;
  }
  .eimage{
    position: relative;
    display: inline-block;
    width: 26%;
    height: 255px;
    .play{
      position: absolute;
      top: 35%;
      left: 90px;
      z-index: 99999;
    }
    .hoverish{
      height: 155px;
      width: 255px;
      position: absolute;
      bottom: 0;
      z-index: 9999;
    }
    &:hover{
      .hoverish{
        background: -moz-linear-gradient(top, rgba(153,153,153,0) 0%, rgba(153,153,153,0.12) 15%, rgba(0,159,227,0.8) 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top, rgba(153,153,153,0) 0%,rgba(153,153,153,0.12) 15%,rgba(0,159,227,0.8) 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, rgba(153,153,153,0) 0%,rgba(153,153,153,0.12) 15%,rgba(0,159,227,0.8) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00999999', endColorstr='#cc1aeddc',GradientType=0 ); /* IE6-9 */
      }
    }
  }
  .etext{
    display: inline-block;
    padding: 30px;
    width: 70%;
    background: #fff;
    color: #000;
    vertical-align: top;
    height: 255px;
  }
}


$deg: 315deg;

.fixclick{
  width: 100%;
  height: 100%;
  display: block;
}

.seriesList{
  margin: 0 auto;
  text-align: center;
  li{
    position: relative;
    display: inline-block;
    width: 265px;
    height: 185px;
    background:url(./assets/horsemini.png) no-repeat top center;
    margin: 10px;
    background-size: cover;
    .contentbanner{
      opacity: 0.3;
    }
    &.active, &:hover{
      .contentbanner{
        opacity: 1;
      }
    }
    .comming{
        position: absolute;
        top: 0;
        left: 0;
        &:before{
          position: absolute;
          content: '';
          width: 0;
          height: 0;
          border-style: solid;
          border-width: 150px 150px 0 0;
          border-color: $blue transparent transparent transparent;
        }
        span{
          position: absolute;
          top: 28px;
          left: 10px;
          text-transform: uppercase;
          text-align: center;
          transform: rotate($deg);
          -webkit-transform: rotate($deg);
          -moz-transform: rotate($deg);
          -o-transform: rotate($deg);
          -ms-transform: rotate($deg);
        }
    }
    .promotext{
      position: absolute;
      bottom: 0;
      padding: 20px;
      /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#999999+15,1aeddc+100&0+0,0.8+100 */
      background: -moz-linear-gradient(top, rgba(153,153,153,0) 0%, rgba(153,153,153,0.12) 15%, rgba(0,159,227,0.8) 100%); /* FF3.6-15 */
      background: -webkit-linear-gradient(top, rgba(153,153,153,0) 0%,rgba(153,153,153,0.12) 15%,rgba(0,159,227,0.8) 100%); /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(to bottom, rgba(153,153,153,0) 0%,rgba(153,153,153,0.12) 15%,rgba(0,159,227,0.8) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00999999', endColorstr='#cc1aeddc',GradientType=0 ); /* IE6-9 */
      width: 100%;
      h3{
        margin: 0;
        text-transform: uppercase;
        text-align: left;
        color: white;
      }
      h5{
        margin: 0;
        text-align: left;
        color: white;
      }
    }
  }
}

h1{
  font-size: 50px;
  margin: 20px 0 40px 0;
}

h2{
  font-size: 40px;
}

small{
  font-size: 60%;
}

div{
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  &.row{
    max-width:1185px;
    margin: 0 auto;
  }
}

.static{
  position: relative !important;
  height: 140px;
}

.innerStart{
  margin: 0 0 100px 0;
  p{
    max-width:900px;
    margin: 0 auto;
  }
}

.play{
  background: url(./assets/player.svg);
  width: 80px;
  height: 80px;
  fill: white;
  display: inline-block;
  text-align: center;
  margin: 0 auto;
  cursor: pointer;
  &.big{
    width: 150px;
    height: 150px;
    margin-top: 300px;
  }
  &.novideo{
    margin-top: 0;
  }
}

#teaser{
  width: 100%;
  height: auto;
}

.shadow{
  position: absolute;
  top: 0;
  width: 100%;
  height: inherit;
  -webkit-box-shadow: inset 0px -40px 250px 100px black;
  -moz-box-shadow: inset 0px -40px 250px 100px black;
  box-shadow: inset 0px -40px 250px 100px black;
}

.maincontainer{
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.main_series{
  text-align: center;
  margin: 0 auto;
  position: relative;
  width: 100%;
  -webkit-box-shadow: inset 0px -40px 250px 100px black;
  -moz-box-shadow: inset 0px -40px 250px 100px black;
  box-shadow: inset 0px -40px 250px 100px black;
  background-size: cover;
  &.innerContent{
    background: url(./assets/content.png) no-repeat top center;
    background-size: cover;
    padding-top: 250px;
  }
  h1{
    font-weight: 300;
    text-transform: uppercase;
  }
  p{
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
    padding-bottom: 20px;
  }
  h3{
    opacity: 0.4;
    text-transform: uppercase;
  }
}


//toaster
.mini-toastr-notification__title{
  font-weight: bold;
}

.mini-toastr__notification{
  width: 400px;
}

.mini-toastr-notification__message{
  padding: 0;
}